// A z-index map is useful to prevent z-index messes
// Please use only these values when using z-index

$z-indexes: (
    lowest: 1,
    lower: 5,
    low: 10,
    medium: 15,
    high: 20,
    higher: 25,
    highest: 30
);