html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  cursor: pointer; }

* {
  box-sizing: border-box; }

button {
  cursor: pointer; }

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif; }

img {
  max-width: 100%; }

input {
  font-size: 1em;
  padding: 0; }
  input:focus {
    outline: none; }

.textarea {
  resize: none; }

.absolute-centered-element, .form__field--has-resizing-placeholder .form__field-label, .form__field-element-icon {
  position: absolute; }
  .absolute-centered-element--is-centered-vertically, .form__field--has-resizing-placeholder .form__field-label, .form__field-element-icon {
    top: 50%;
    transform: translateY(-50%); }
  .absolute-centered-element--is-centered-horizontally {
    left: 50%;
    transform: translateX(-50%); }

.container-fluid {
  padding: 0 20px; }
  .container-fluid--no-padding {
    padding: 0; }
  @media screen and (min-width: 991px) {
    .container-fluid--no-padding-desktop {
      padding: 0; } }
  @media screen and (max-width: 990px) {
    .container-fluid--no-padding-mobile {
      padding: 0; } }

.container {
  position: relative;
  margin: 10px auto;
  max-width: 100%; }
  @media (max-width: 990px) {
    .container {
      padding: 0 20px; } }
  @media (min-width: 768px) {
    .container {
      width: 480px; } }
  @media (min-width: 991px) {
    .container {
      width: 720px; } }
  @media (min-width: 1199px) {
    .container {
      width: 960px; } }
  @media (min-width: null) {
    .container {
      width: 1140px; } }

/*! Reflex v1.5.0 - https://github.com/leejordan/reflex */
/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * To disable legacy support and build a flexbox only grid, set the variable legacy-support to false
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */
.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  list-style-type: none; }

[class*="grid__col-"] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 0em 0em; }
  @media screen and (max-width: 767px) {
    [class*="grid__col-"] {
      padding: 0em; } }

.grid__cell {
  position: relative;
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

:-ms-fullscreen .grid__cell, :root .grid__cell {
  width: 100%; }

.grid__col-12 {
  width: 100%;
  *width: 99.9%; }

.grid__col-11 {
  width: 91.66667%;
  *width: 91.56667%; }

.grid__col-10 {
  width: 83.33333%;
  *width: 83.23333%; }

.grid__col-9 {
  width: 75%;
  *width: 74.9%; }

.grid__col-8 {
  width: 66.66667%;
  *width: 66.56667%; }

.grid__col-7 {
  width: 58.33333%;
  *width: 58.23333%; }

.grid__col-6 {
  width: 50%;
  *width: 49.9%; }

.grid__col-5 {
  width: 41.66667%;
  *width: 41.56667%; }

.grid__col-4 {
  width: 33.33333%;
  *width: 33.23333%; }

.grid__col-3 {
  width: 25%;
  *width: 24.9%; }

.grid__col-2 {
  width: 16.66667%;
  *width: 16.56667%; }

.grid__col-1 {
  width: 8.33333%;
  *width: 8.23333%; }

@media (min-width: 480px) {
  .grid__col-xs-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-xs-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .grid__col-xs-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .grid__col-xs-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-xs-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .grid__col-xs-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .grid__col-xs-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-xs-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .grid__col-xs-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .grid__col-xs-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-xs-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .grid__col-xs-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 768px) {
  .grid__col-sm-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-sm-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .grid__col-sm-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .grid__col-sm-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-sm-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .grid__col-sm-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .grid__col-sm-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-sm-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .grid__col-sm-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .grid__col-sm-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-sm-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .grid__col-sm-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 992px) {
  .grid__col-md-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-md-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .grid__col-md-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .grid__col-md-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-md-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .grid__col-md-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .grid__col-md-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-md-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .grid__col-md-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .grid__col-md-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-md-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .grid__col-md-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1200px) {
  .grid__col-lg-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-lg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .grid__col-lg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .grid__col-lg-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-lg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .grid__col-lg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .grid__col-lg-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-lg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .grid__col-lg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .grid__col-lg-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-lg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .grid__col-lg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1600px) {
  .grid__col-xlg-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-xlg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .grid__col-xlg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .grid__col-xlg-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-xlg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .grid__col-xlg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .grid__col-xlg-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-xlg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .grid__col-xlg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .grid__col-xlg-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-xlg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .grid__col-xlg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

.grid__col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px; }

@media (min-width: 480px) {
  .grid__col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }

@media (min-width: 768px) {
  .grid__col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }

@media (min-width: 992px) {
  .grid__col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }

@media (min-width: 1200px) {
  .grid__col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }

@media (min-width: 1600px) {
  .grid__col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px; } }

.grid--wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid--no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.grid--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.grid--direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.grid--direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.grid--direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.grid--direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.grid--align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.grid--align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.grid--align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.grid--align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline; }

.grid--align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.grid--align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.grid--align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center; }

.grid--align-content-space-between {
  -ms-flex-line-pack: space-between;
  -webkit-align-content: space-between;
  align-content: space-between; }

.grid--align-content-space-around {
  -ms-flex-line-pack: space-around;
  -webkit-align-content: space-around;
  align-content: space-around; }

.grid--align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch; }

.grid--align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.grid--align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom; }

.grid--align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle; }

.grid--align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline; }

.grid--justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.grid--justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  .grid--justify-end .grid__cell,
  .grid--justify-end [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .grid--justify-center .grid__cell,
  .grid--justify-center [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .grid--justify-space-between .grid__cell,
  .grid--justify-space-between [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.grid--justify-space-around {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .grid--justify-space-around .grid__cell,
  .grid--justify-space-around [class*="grid__col-"] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: initial; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.85714%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.section {
  padding: 3rem 0; }

.slidable-content {
  transform: translateX(0);
  transition: transform 0.5s; }
  .slidable-content--is-sliding-to-left.is-slided {
    transform: translateX(-30%); }
  .slidable-content--is-sliding-to-right.is-slided {
    transform: translateX(30%); }

/*

    <div class="accordion js-accordion" data-scroll-speed="500" data-scroll-offset="0" data-can-have-multiple-items-opened="false" data-open-item-animation="slide" data-slide-duration="300" data-scroll-to-item-when-opened="true">
        <ul class="accordion__list">
            <li class="accordion__item js-accordion-item">
                <div class="accordion__item-button grid grid--justify-space-between js-accordion-item-button">
                    Button 1
                    <i class="accordion__item-button-right-icon fa fa-minus"></i>
                    <i class="accordion__item-button-right-icon accordion__item-button-right-icon--plus fa fa-plus"></i>
                </div>
                <div class="accordion__item-content js-accordion-item-content">
                    Content 1
                </div>
            </li>
            <li class="accordion__item js-accordion-item">
                <div class="accordion__item-button grid grid--justify-space-between js-accordion-item-button">
                    Button 2
                    <i class="accordion__item-button-right-icon fa fa-minus"></i>
                    <i class="accordion__item-button-right-icon accordion__item-button-right-icon--plus fa fa-plus"></i>
                </div>
                <div class="accordion__item-content js-accordion-item-content">
                    Content 2
                </div>
            </li>
        </ul>
    </div>

*/
.accordion__list {
  border: solid 1px #dedede; }

.accordion__item + .accordion__item {
  border-top: solid 1px #dedede; }

.accordion__item-button {
  position: relative;
  padding: 30px;
  background-color: #a3a3a3; }
  .accordion__item-button-right-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px; }
    .accordion__item-button-right-icon--plus {
      transform: scale(1);
      transition: transform 0.5s; }
      .accordion__item.is-opened .accordion__item-button-right-icon--plus {
        transform: scale(0); }
    .accordion__item-button-right-icon-container {
      position: relative; }

.accordion__item-content {
  display: none;
  padding: 20px;
  border-top: solid 1px #dedede; }

.btn-group--horizontal .btn-group__btn {
  border-right: solid 1px white; }
  .btn-group--horizontal .btn-group__btn--first {
    border-radius: 5px 0 0 5px; }
  .btn-group--horizontal .btn-group__btn--last {
    border-radius: 0 5px 5px 0; }

.btn-group--vertical .btn-group__btn--first {
  border-radius: 5px 5px 0 0; }

.btn-group--vertical .btn-group__btn--last {
  border-radius: 0 0 5px 5px; }

.btn {
  font-size: 1rem; }

.card {
  font-size: 1rem; }

.dimmer {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  z-index: 10;
  transition: visibility 0.5s, opacity 0.5s; }
  .dimmer.is-visible {
    visibility: visible;
    opacity: 1; }
  .dimmer__content {
    z-index: 15; }

/*

    <div class="dropdown js-dropdown">
     <a class="dropdown__btn js-dropdown-btn" href="javascript:void(0)">Dropdown name<i class="dropdown__caret fa fa-caret-down" aria-hidden="true"></i></a>
         <ul class="dropdown__list js-dropdown-list">
             <li class="dropdown__list-item">
                <a href="#">Option name</a>
             </li>
             <li class="dropdown__list-item">
                <a href="#">Option name</a>
             </li>
         </ul>
     </div>

*/
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1rem; }
  .dropdown__btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10em;
    border: solid 1px #dedede;
    padding: 0.75em;
    background-color: #dedede;
    text-decoration: none;
    color: black; }
    .dropdown__btn:after {
      content: '\f0d7';
      font-family: FontAwesome, sans-serif; }
  .dropdown__list {
    position: absolute;
    display: none;
    width: 100%;
    border: solid 1px #dedede;
    border-top: none; }
    .dropdown--has-pos-static-list .dropdown__list {
      position: static; }
  .dropdown__list-item {
    background-color: white; }
    .dropdown__list-item + .dropdown__list-item {
      border-top: solid 1px #dedede; }
    .dropdown__list-item > * {
      display: block;
      padding: 1em;
      cursor: pointer; }
  .dropdown__list-item-link {
    display: block;
    padding: 0.75em;
    background-color: white;
    text-decoration: none;
    color: black; }

/*
    <form class="form">
        <div class="grid">
            <div class="grid__col-xs-12 grid__col-sm-6">
                <div class="form__field js-form-field">
                    <label class="form__field-label js-form-label">Field 1</label>
                    <div class="form__field-element-container">
                        <input class="form__field-element js-form-input"/>
                    </div>
                </div>
            </div>
            <div class="grid__col-xs-12 grid__col-sm-6">
                <div class="form__field js-form-field">
                    <label class="form__field-label js-form-label">Field 2</label>
                    <div class="form__field-element-container">
                        <input class="form__field-element js-form-input"/>
                    </div>
                </div>
            </div>
        </div>
        <button class="form__btn">Submit</button>
    </form>
*/
.form {
  font-size: 1rem; }
  .form__section-header {
    width: 100%;
    padding: 1em 0; }
  .form__field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2em; }
    .form__field--has-resizing-placeholder {
      width: 80%;
      padding: 0 1em;
      border: solid 1px lightgray;
      border-radius: 5px; }
    .form__field-label {
      font-size: 1em;
      margin-bottom: 0.5em; }
      .form__field--has-resizing-placeholder .form__field-label {
        margin-bottom: 0;
        cursor: text;
        font-size: 1em;
        z-index: 10;
        transform: translateY(-50%) scale(1) perspective(0);
        transform-origin: 0;
        transition: top 0.5s, transform 0.5s; }
        .form__field--has-resizing-placeholder .form__field-label.is-focus {
          top: 5px;
          transform: translateY(0) scale(0.7) perspective(1px); }
        .form__field--has-inline-label .form__field--has-resizing-placeholder .form__field-label {
          margin-bottom: 0;
          padding-right: 1em; }
        .form__field--has-no-label .form__field--has-resizing-placeholder .form__field-label {
          display: none; }
        .form__field--has-checkbox .form__field--has-resizing-placeholder .form__field-label, .form__field--has-radio-btn .form__field--has-resizing-placeholder .form__field-label {
          order: 2;
          margin-bottom: 0; }
          .form__field--has-checkbox .form__field--has-resizing-placeholder .form__field-label:before, .form__field--has-radio-btn .form__field--has-resizing-placeholder .form__field-label:before {
            position: relative;
            top: 1px;
            display: inline-block;
            width: 1em;
            margin-right: 0.2em;
            font-size: 1.2em;
            font-family: FontAwesome, sans-serif; }
        .form__field--has-checkbox .form__field--has-resizing-placeholder .form__field-label:before {
          content: "\f096"; }
        .form__field--has-checkbox.is-checked .form__field--has-resizing-placeholder .form__field-label:before {
          content: "\f046"; }
        .form__field--has-radio-btn .form__field--has-resizing-placeholder .form__field-label:before {
          content: "\f10c"; }
        .form__field--has-radio-btn.is-checked .form__field--has-resizing-placeholder .form__field-label:before {
          content: "\f05d"; }
    .form__field-element-container {
      position: relative;
      width: 100%; }
      .form__field--has-inline-label .form__field-element-container {
        flex: 1; }
      .form__field--has-checkbox .form__field-element-container, .form__field--has-radio-btn .form__field-element-container {
        order: 1;
        width: auto; }
    .form__field-element {
      width: 80%;
      padding: 0.8em;
      font-size: 1em;
      border: solid 1px lightgray;
      border-radius: 5px; }
      .form__field--has-resizing-placeholder .form__field-element {
        border: none;
        padding: 0;
        padding-top: calc(1em * 0.7 + 5px + 5px);
        padding-bottom: 5px; }
      .form__field--has-icon-right .form__field-element {
        padding-right: calc(3em + 5px); }
      .form__field--has-icon-left .form__field-element {
        padding-left: calc(3em + 5px); }
      .form__field--has-checkbox .form__field-element, .form__field--has-radio-btn .form__field-element {
        display: none; }
      .form__field-element-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 3em;
        background-color: lightblue;
        color: white;
        text-align: center; }
        .form__field--has-icon-left .form__field-element-icon {
          left: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; }
        .form__field--has-icon-right .form__field-element-icon {
          right: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; }
  .form__btn {
    padding: 1em; }
  .form__well {
    padding: 1em;
    background-color: lightblue; }

.header {
  font-size: 1rem; }

/*

    <div class="modal" data-dimmer="true" id="modal">
        <div class="modal__close-btn js-close-modal-btn">
			<i class="fa fa-close"></i>
		</div>
		<div class="modal__header">Modal header</div>
		<div class="modal__content">
			<h3>Modal content</h3>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.
				Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.
				Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.
			</p>
		</div>
		<div class="modal__footer">Modal footer</div>
	</div>
	<div class="dimmer js-dimmer"></div>
	<button class="btn js-show-modal-btn" data-modal-id="modal">Open Modal</button>

*/
.modal {
  position: fixed;
  top: 5em;
  left: 50%;
  width: 35em;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #dedede;
  font-size: 1rem;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) scale(0);
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) scale(1);
    transition: visibility 0.5s, opacity 0.5s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s; }
  @media screen and (max-width: 990px) {
    .modal {
      top: 2em;
      width: calc(100% - 3em); } }
  .modal__header {
    padding: 1em;
    border-bottom: solid 1px #dedede; }
  .modal__content {
    padding: 1em; }
  .modal__footer {
    padding: 1em;
    border-top: solid 1px #dedede; }
  .modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transform: translate(50%, -50%); }

/*

    <div class="navbar js-navbar" data-slide-speed="500">
			<div class="navbar__mobile-container grid grid--justify-space-between grid--align-center hidden-md-up">
				<h3 class="navbar__mobile-container-header">Template</h3>
				<div class="navbar__hamburger js-hamburger">
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
					<div class="navbar__hamburger-line"></div>
				</div>
			</div>
			<div class="navbar__container grid grid--justify-space-between grid--align-center hidden-sm-down js-navbar-container">
				<div class="navbar__section">
					<ul class="navbar__list grid grid--justify-start">
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 1</a>
						</li>
					</ul>
				</div>
				<div class="navbar__section">
					<ul class="navbar__list grid grid--justify-end">
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 4</a>
						</li>
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 5</a>
						</li>
						<li class="navbar__item">
							<a class="navbar__item-link" href="#">Link 6</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

*/
.navbar {
  font-size: 1rem; }
  .navbar--position-fixed {
    position: fixed;
    width: 100%; }
  @media screen and (max-width: 990px) {
    .navbar__container {
      flex-direction: column; } }
  .navbar__mobile-container {
    padding: 1em;
    background-color: lightblue; }
    .navbar__mobile-container-header {
      font-size: 1.5em;
      color: white; }
  @media screen and (max-width: 990px) {
    .navbar__list {
      flex-direction: column; } }
  .navbar__item-link {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s; }
    .navbar__item-link:hover {
      background-color: #bfbfbf; }
    @media screen and (max-width: 990px) {
      .navbar__item-link {
        text-align: left; } }
  .navbar__hamburger {
    position: relative;
    width: 2em;
    height: 2em;
    cursor: pointer; }
    .navbar__hamburger-line {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 0.35em;
      background: white;
      border-radius: 9px;
      opacity: 1;
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out; }
      .navbar__hamburger-line:nth-child(1) {
        top: 0; }
      .navbar__hamburger-line:nth-child(2), .navbar__hamburger-line:nth-child(3) {
        top: 50%;
        transform: translateY(-50%); }
      .navbar__hamburger-line:nth-child(4) {
        bottom: 0; }
    .navbar__hamburger.is-opened .navbar__hamburger-line:nth-child(1) {
      top: 50%;
      left: 50%;
      width: 0; }
    .navbar__hamburger.is-opened .navbar__hamburger-line:nth-child(2) {
      transform: rotate(45deg); }
    .navbar__hamburger.is-opened .navbar__hamburger-line:nth-child(3) {
      transform: rotate(-45deg); }
    .navbar__hamburger.is-opened .navbar__hamburger-line:nth-child(4) {
      bottom: 50%;
      left: 50%;
      width: 0; }

/*

    <div class="sidebar sidebar--is-right-of-screen js-sidebar" data-dimmer="true" data-slide-content="false">
		<ul class="sidebar__list">
			<li class="sidebar__list-item">
				<a class="sidebar__list-item-link" href="#">Link 1</a>
			</li>
			<li class="sidebar__list-item">
				<a class="sidebar__list-item-link" href="#">Link 2</a>
			</li>
			<li class="sidebar__list-item">
				<a class="sidebar__list-item-link" href="#">Link 3</a>
			</li>
		</ul>
	</div>
	<button class="btn js-sidebar-toggle">Open Sidebar</button>

*/
.sidebar {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: lightblue;
  font-size: 1rem;
  z-index: 20;
  transition: transform 0.5s; }
  .sidebar.is-visible {
    transform: translateX(0); }
  .sidebar--is-left-of-screen {
    left: 0;
    transform: translateX(-100%); }
  .sidebar--is-right-of-screen {
    right: 0;
    transform: translateX(100%); }
  @media screen and (max-width: 1198px) {
    .sidebar {
      width: 30%; } }
  @media screen and (max-width: 990px) {
    .sidebar {
      width: 40%; } }
  @media screen and (max-width: 767px) {
    .sidebar {
      width: 70%; } }
  .sidebar__list-item {
    border: solid 1px #dedede;
    text-align: center; }
    .sidebar__list-item + .sidebar__list-item {
      border-top: none; }
    .sidebar__list-item-link {
      display: block;
      padding: 20px;
      text-decoration: none;
      color: black;
      transition: background-color 0.5s; }
      .sidebar__list-item-link:hover {
        background-color: white; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.hide {
  display: none; }

.hidden-xs-up {
  display: none; }

@media (max-width: 767px) {
  .hidden-xs-down {
    display: none; } }

@media (min-width: 768px) {
  .hidden-sm-up {
    display: none; } }

@media (max-width: 990px) {
  .hidden-sm-down {
    display: none; } }

@media (min-width: 991px) {
  .hidden-md-up {
    display: none; } }

@media (max-width: 1198px) {
  .hidden-md-down {
    display: none; } }

@media (min-width: 1199px) {
  .hidden-lg-up {
    display: none; } }

.hidden-lg-down {
  display: none; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

/* No files to import found in 7-overrides//* */
